* html {
  box-sizing: border-box;
}

*, *::after, *::before {
  box-sizing: inherit;
}

ul[class],
ol[class] {
  padding: 0;
  list-style: none;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
  border: 0;
  color: #000;
  text-overflow: ellipsis;
}

body {
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

a {
  background: transparent;
  text-decoration: none;
  cursor: pointer;
}

a:active,
a:hover {
  outline: 0;
}

img {
  border: 0;
}

ul,
li {
  outline: 0;
  border: 0;
  list-style: none;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

input,
button,
textarea,
select {
  font: inherit;
}

@font-face {
  font-family: "fa-brands-400";
  font-display: swap;
  src: url("../fonts/fa-brands-400.woff") format("woff"), url("../fonts/fa-brands-400.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "fa-v4compatibility";
  font-display: swap;
  src: url("../fonts/fa-v4compatibility.woff") format("woff"), url("../fonts/fa-v4compatibility.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "fa-solid-900";
  font-display: swap;
  src: url("../fonts/fa-solid-900.woff") format("woff"), url("../fonts/fa-solid-900.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "fa-regular-400";
  font-display: swap;
  src: url("../fonts/fa-regular-400.woff") format("woff"), url("../fonts/fa-regular-400.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Inter-Regular";
  font-display: swap;
  src: url("../fonts/Inter-Regular.woff") format("woff"), url("../fonts/Inter-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Oswald-Regular";
  font-display: swap;
  src: url("../fonts/Oswald-Regular.woff") format("woff"), url("../fonts/Oswald-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
html {
  font-size: 10px;
  color: #667085;
}

a {
  font-size: 1.8rem;
  color: #667085;
}
a:hover {
  color: #7F56D9;
}

h3 {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 30px;
}

span {
  font-size: 1.3rem;
}

img {
  width: 100%;
}

body {
  display: flex;
  flex-direction: column;
  align-content: center;
}
body .navMenu {
  background-color: aquamarine;
  align-items: center;
}
body .navMenu nav {
  width: 200px;
  padding: 0px 2em 0px 2em;
}
body .navMenu nav .navmenu__ul {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: space-between;
  list-style: none;
}
body header {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 14rem;
  background-color: aquamarine;
}
body section {
  display: flex;
  justify-content: center;
  flex-grow: 1;
}
body footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: aquamarine;
}

.wrapper {
  width: clamp(960px, 90vw, 1440px);
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
}
.wrapper__Blog {
  padding: 0 clamp(1.375rem, 1.2rem + 0.89vw, 2rem);
}
.wrapper__Blog .content {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  align-items: stretch;
}
.wrapper__Blog .content__carts {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 8rem 0 10rem 0;
}
.wrapper__Blog .content__carts .content__cart {
  max-width: 38rem;
  position: relative;
  display: flex;
  flex-direction: column;
}
.wrapper__Blog .content__carts .content__cart .content__cart-menu {
  display: none;
  z-index: 999;
  width: 100%;
  height: 100%;
}
.wrapper__Blog .content__carts .content__cart .active {
  background-color: #1a1919;
  z-index: 999;
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0.8;
  display: block;
}
.wrapper__Blog .content__carts .content__cart .cart__img {
  overflow: hidden;
  max-height: 77rem;
}
.wrapper__Blog .content__carts .content__cart a {
  color: #7F56D9;
}
.wrapper__Blog .content__carts .content__cart a:hover {
  color: #dba4fc;
}
.wrapper__Contact {
  width: 1440px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  padding: 15em 0 10em 0;
}
.wrapper__footer {
  height: 100%;
  justify-content: center;
  align-items: center;
  min-height: 11.5rem;
  background-color: aquamarine;
  border-radius: 0.4rem;
}
.wrapper__footer .copyright {
  display: flex;
  justify-content: space-between;
}
@supports (-webkit-appearance:none){

}
