@charset "UTF-8";
<<<<<<< HEAD
@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
=======
<<<<<<< HEAD
@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
=======
<<<<<<< HEAD
@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
=======
>>>>>>> c28cafa2cdd9b53ab0d91265814a729230ebed61
>>>>>>> f4d77c22bc5fd864059bccfeda474043be049598
>>>>>>> b9627812e9d512314dbbf0506cc37dda499b73a8
* html {
  box-sizing: border-box;
}

*, *::after, *::before {
  box-sizing: inherit;
}

ul[class],
ol[class] {
  padding: 0;
  list-style: none;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
  border: 0;
  color: #000;
  text-overflow: ellipsis;
}

body {
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

a {
  background: transparent;
  text-decoration: none;
  cursor: pointer;
}

a:active,
a:hover {
  outline: 0;
}

img {
  border: 0;
}

ul,
li {
  outline: 0;
  border: 0;
  list-style: none;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

input,
button,
textarea,
select {
  font: inherit;
}

<<<<<<< HEAD
=======
<<<<<<< HEAD
=======
<<<<<<< HEAD
>>>>>>> f4d77c22bc5fd864059bccfeda474043be049598
>>>>>>> b9627812e9d512314dbbf0506cc37dda499b73a8
html {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-size: 10px;
}

a {
  font-size: 1.4rem;
  color: #101828;
}
a:hover {
  color: aquamarine;
}

span {
  font-size: 1.4rem;
<<<<<<< HEAD
=======
<<<<<<< HEAD
=======
=======
@font-face {
  font-family: "fa-brands-400";
  font-display: swap;
  src: url("../fonts/fa-brands-400.woff") format("woff"), url("../fonts/fa-brands-400.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "fa-v4compatibility";
  font-display: swap;
  src: url("../fonts/fa-v4compatibility.woff") format("woff"), url("../fonts/fa-v4compatibility.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "fa-solid-900";
  font-display: swap;
  src: url("../fonts/fa-solid-900.woff") format("woff"), url("../fonts/fa-solid-900.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "fa-regular-400";
  font-display: swap;
  src: url("../fonts/fa-regular-400.woff") format("woff"), url("../fonts/fa-regular-400.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Inter-Regular";
  font-display: swap;
  src: url("../fonts/Inter-Regular.woff") format("woff"), url("../fonts/Inter-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Oswald-Regular";
  font-display: swap;
  src: url("../fonts/Oswald-Regular.woff") format("woff"), url("../fonts/Oswald-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
html {
  font-size: 10px;
  color: #667085;
}

a {
  font-size: 1.8rem;
  color: #667085;
}
a:hover {
  color: #7F56D9;
}

h3 {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 30px;
}

span {
  font-size: 1.3rem;
>>>>>>> c28cafa2cdd9b53ab0d91265814a729230ebed61
>>>>>>> f4d77c22bc5fd864059bccfeda474043be049598
>>>>>>> b9627812e9d512314dbbf0506cc37dda499b73a8
}

img {
  width: 100%;
}

body {
  display: flex;
  flex-direction: column;
  align-content: center;
<<<<<<< HEAD
=======
<<<<<<< HEAD
=======
<<<<<<< HEAD
>>>>>>> f4d77c22bc5fd864059bccfeda474043be049598
>>>>>>> b9627812e9d512314dbbf0506cc37dda499b73a8
  height: 100vh;
  color: #101828;
}
body .navMenu {
<<<<<<< HEAD
=======
<<<<<<< HEAD
=======
=======
}
body .navMenu {
  background-color: aquamarine;
>>>>>>> c28cafa2cdd9b53ab0d91265814a729230ebed61
>>>>>>> f4d77c22bc5fd864059bccfeda474043be049598
>>>>>>> b9627812e9d512314dbbf0506cc37dda499b73a8
  align-items: center;
}
body .navMenu nav {
  width: 200px;
  padding: 0px 2em 0px 2em;
}
body .navMenu nav .navmenu__ul {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: space-between;
  list-style: none;
}
<<<<<<< HEAD
=======
<<<<<<< HEAD
=======
<<<<<<< HEAD
>>>>>>> f4d77c22bc5fd864059bccfeda474043be049598
>>>>>>> b9627812e9d512314dbbf0506cc37dda499b73a8
body .navMenu nav .navmenu__ul a {
  font-size: 1.6rem;
}
body .navMenu nav .navmenu__ul a:hover {
  color: #101828;
}
body .navMenu nav .navmenu__ul li {
  height: 3rem;
  box-sizing: border-box;
  transition: 0.2s;
}
body .navMenu nav .navmenu__ul li:hover {
  border-bottom: aquamarine 3px solid;
}
<<<<<<< HEAD
=======
<<<<<<< HEAD
=======
=======
>>>>>>> c28cafa2cdd9b53ab0d91265814a729230ebed61
>>>>>>> f4d77c22bc5fd864059bccfeda474043be049598
>>>>>>> b9627812e9d512314dbbf0506cc37dda499b73a8
body header {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 14rem;
<<<<<<< HEAD
=======
<<<<<<< HEAD
=======
<<<<<<< HEAD
>>>>>>> f4d77c22bc5fd864059bccfeda474043be049598
>>>>>>> b9627812e9d512314dbbf0506cc37dda499b73a8
  box-shadow: 1px 0 8px 2px rgba(0, 0, 0, 0.5);
  z-index: 2;
  border-bottom: aquamarine 5px solid;
  background-color: #fbfbfb;
<<<<<<< HEAD
=======
<<<<<<< HEAD
=======
=======
  background-color: aquamarine;
>>>>>>> c28cafa2cdd9b53ab0d91265814a729230ebed61
>>>>>>> f4d77c22bc5fd864059bccfeda474043be049598
>>>>>>> b9627812e9d512314dbbf0506cc37dda499b73a8
}
body section {
  display: flex;
  justify-content: center;
  flex-grow: 1;
<<<<<<< HEAD
  background-color: #fbfbfb;
=======
<<<<<<< HEAD
  background-color: #fbfbfb;
=======
<<<<<<< HEAD
  background-color: #fbfbfb;
=======
>>>>>>> c28cafa2cdd9b53ab0d91265814a729230ebed61
>>>>>>> f4d77c22bc5fd864059bccfeda474043be049598
>>>>>>> b9627812e9d512314dbbf0506cc37dda499b73a8
}
body footer {
  display: flex;
  align-items: center;
  justify-content: center;
<<<<<<< HEAD
=======
<<<<<<< HEAD
=======
<<<<<<< HEAD
>>>>>>> f4d77c22bc5fd864059bccfeda474043be049598
>>>>>>> b9627812e9d512314dbbf0506cc37dda499b73a8
  box-shadow: 1px 0 20px 1px rgba(0, 0, 0, 0.5);
  z-index: 2;
  border-top: aquamarine 5px solid;
  background-color: #181818;
<<<<<<< HEAD
=======
<<<<<<< HEAD
=======
=======
  background-color: aquamarine;
>>>>>>> c28cafa2cdd9b53ab0d91265814a729230ebed61
>>>>>>> f4d77c22bc5fd864059bccfeda474043be049598
>>>>>>> b9627812e9d512314dbbf0506cc37dda499b73a8
}

.wrapper {
  width: clamp(960px, 90vw, 1440px);
  display: flex;
  flex-direction: column;
<<<<<<< HEAD
=======
<<<<<<< HEAD
=======
<<<<<<< HEAD
>>>>>>> f4d77c22bc5fd864059bccfeda474043be049598
>>>>>>> b9627812e9d512314dbbf0506cc37dda499b73a8
  background-color: #fbfbfb;
}
@media screen and (max-width: 480px) {
  .wrapper {
    width: clamp(32rem, 100vw, 48rem);
  }
<<<<<<< HEAD
=======
<<<<<<< HEAD
=======
=======
  background-color: #FFFFFF;
>>>>>>> c28cafa2cdd9b53ab0d91265814a729230ebed61
>>>>>>> f4d77c22bc5fd864059bccfeda474043be049598
>>>>>>> b9627812e9d512314dbbf0506cc37dda499b73a8
}
.wrapper__Blog {
  padding: 0 clamp(1.375rem, 1.2rem + 0.89vw, 2rem);
}
<<<<<<< HEAD
=======
<<<<<<< HEAD
=======
<<<<<<< HEAD
>>>>>>> f4d77c22bc5fd864059bccfeda474043be049598
>>>>>>> b9627812e9d512314dbbf0506cc37dda499b73a8
@media screen and (max-width: 480px) {
  .wrapper__Blog {
    padding: 0;
  }
}
<<<<<<< HEAD
=======
<<<<<<< HEAD
=======
=======
>>>>>>> c28cafa2cdd9b53ab0d91265814a729230ebed61
>>>>>>> f4d77c22bc5fd864059bccfeda474043be049598
>>>>>>> b9627812e9d512314dbbf0506cc37dda499b73a8
.wrapper__Blog .content {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  align-items: stretch;
  z-index: 1;
}
.wrapper__Blog .content__carts {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  z-index: 2;
  padding: 0rem 0 10rem 0;
}
.wrapper__Blog .content__carts .content__cart {
  z-index: 3;
  position: relative;
  margin: 7rem 0rem 0rem 0rem;
  background: url(../img/Veronika.webp);
  width: 38rem;
  height: 65rem;
  background-size: cover;
<<<<<<< HEAD
=======
<<<<<<< HEAD
=======
<<<<<<< HEAD
>>>>>>> f4d77c22bc5fd864059bccfeda474043be049598
>>>>>>> b9627812e9d512314dbbf0506cc37dda499b73a8
  box-shadow: 5px 5px 5px -5px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
}
@media screen and (max-width: 480px) {
  .wrapper__Blog .content__carts .content__cart {
    width: 90vw;
    height: 90vh;
  }
<<<<<<< HEAD
=======
<<<<<<< HEAD
=======
=======
>>>>>>> c28cafa2cdd9b53ab0d91265814a729230ebed61
>>>>>>> f4d77c22bc5fd864059bccfeda474043be049598
>>>>>>> b9627812e9d512314dbbf0506cc37dda499b73a8
}
.wrapper__Blog .content__carts .content__cart .cart-menu {
  z-index: 4;
  position: absolute;
  opacity: 0;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: #222222;
}
.wrapper__Blog .content__carts .content__cart .cart-menu:hover {
  opacity: 0.9;
  color: white;
<<<<<<< HEAD
  border-radius: 8px;
=======
<<<<<<< HEAD
  border-radius: 8px;
=======
<<<<<<< HEAD
  border-radius: 8px;
=======
>>>>>>> c28cafa2cdd9b53ab0d91265814a729230ebed61
>>>>>>> f4d77c22bc5fd864059bccfeda474043be049598
>>>>>>> b9627812e9d512314dbbf0506cc37dda499b73a8
  transition: 0.2s;
}
.wrapper__Blog .content__carts .content__cart .cart-menu:hover .wrap_cart-menu {
  padding: 0rem 4rem 0rem 4rem;
  height: 100%;
}
.wrapper__Blog .content__carts .content__cart .cart-menu:hover h3 {
  color: white;
  text-align: center;
  font-size: 4rem;
  padding: 2rem 0rem 2rem 0rem;
}
.wrapper__Blog .content__carts .content__cart .cart-menu:hover ol {
  padding: 4.5rem 0 0 0;
  margin: 0;
}
.wrapper__Blog .content__carts .content__cart .cart-menu:hover ol li {
  color: white;
  padding: 0 0 3rem 0;
  display: flex;
  align-items: center;
}
.wrapper__Blog .content__carts .content__cart .cart-menu:hover ol li span {
  font-size: 2.8rem;
  margin-left: 2rem;
}
.wrapper__Blog .content__carts .content__cart .cart-menu:hover ol li:before {
  content: "— ";
  font-size: 2.8;
  display: inline-block;
}
.wrapper__Blog .content__carts .content__cart .cart-menu:hover a {
  color: #FFFFFF;
  margin-top: 3.5rem;
  display: inline-block;
  line-height: 5rem;
}
.wrapper__Blog .content__carts .content__cart .cart-menu:hover a:hover {
  color: aqua;
}
.wrapper__Blog .content__carts .content__cart .cart-menu:hover a span {
  font-size: 3.2rem;
}
.wrapper__Contact {
  width: 1440px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  padding: 15em 0 10em 0;
}
.wrapper__footer {
  height: 100%;
  justify-content: center;
  align-items: center;
  min-height: 11.5rem;
<<<<<<< HEAD
  background-color: #181818;
=======
<<<<<<< HEAD
  background-color: #181818;
=======
<<<<<<< HEAD
  background-color: #181818;
=======
  background-color: aquamarine;
  border-radius: 0.4rem;
>>>>>>> c28cafa2cdd9b53ab0d91265814a729230ebed61
>>>>>>> f4d77c22bc5fd864059bccfeda474043be049598
>>>>>>> b9627812e9d512314dbbf0506cc37dda499b73a8
}
.wrapper__footer .copyright {
  display: flex;
  justify-content: space-between;
}
<<<<<<< HEAD
=======
<<<<<<< HEAD
=======
<<<<<<< HEAD
>>>>>>> f4d77c22bc5fd864059bccfeda474043be049598
>>>>>>> b9627812e9d512314dbbf0506cc37dda499b73a8
.wrapper__footer .copyright span {
  color: #FFFFFF;
}
.wrapper__footer .copyright a {
  color: #fbfbfb;
}
@supports (-webkit-appearance:none){

}

 @media screen and (max-width: 480px){

@supports (-webkit-appearance:none){

}

}
<<<<<<< HEAD
=======
<<<<<<< HEAD
=======
=======
@supports (-webkit-appearance:none){

}
>>>>>>> c28cafa2cdd9b53ab0d91265814a729230ebed61
>>>>>>> f4d77c22bc5fd864059bccfeda474043be049598
>>>>>>> b9627812e9d512314dbbf0506cc37dda499b73a8
